body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background: linear-gradient(to left bottom,lightgreen, lightblue);
}

.container{
    display: flex;
    width: 200vh;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0.3);
    border-radius: 12px;
}

button{
    height: 50px;
    width: 300px;
    border-radius: 6px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-size: 20px;
    margin: 25px;
}

button:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0.3);
    cursor: pointer;
    transition: all 300ms ease-in-out;
    color: green;
}

h1{
    font-size: 50px;
}

#randomQuote{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

#autor{
    font-style: italic;
    font-size: 20px;
    margin: 10px;
}